<div class="m-4">
    <!-- <app-loading></app-loading>
    <app-assignment1></app-assignment1>
    <app-assignment2></app-assignment2>
    <app-assignment3></app-assignment3>
    <app-assignment4></app-assignment4>
    <app-assignment5></app-assignment5>
    <app-assignment6></app-assignment6>
    <app-assignment7></app-assignment7>
    <app-assignment8></app-assignment8>
    <app-assignment9></app-assignment9>
    <app-assignment90></app-assignment90>
    <app-http-demo></app-http-demo>
    <app-observable-demo></app-observable-demo>
    <app-subject-demo></app-subject-demo>
    <app-signal-demo></app-signal-demo>
    <app-forms-demo></app-forms-demo>
    <app-model-forms-demo></app-model-forms-demo>
    <app-form-builder> </app-form-builder> -->
    <app-form-builder-employee></app-form-builder-employee>
</div>
