<h1>Day 3</h1>
@if(showEmployeeDetailsView){
<app-view-employee-details
    [employeeData]="selectedEmployee"
    (closeDialog)="showEmployeeDetailsView = !showEmployeeDetailsView"
>
</app-view-employee-details>
} @if(showEmployeeDeleteDialog){
<dialog open>
    Do you want to delete selected employee?
    <p>
        EmpId: {{ selectedEmployee?.userId }} - Name:
        {{ selectedEmployee?.preferredFullName }}
    </p>
    <button (click)="showEmployeeDeleteDialog = !showEmployeeDeleteDialog">
        No
    </button>
    &nbsp; &nbsp;
    <button (click)="onDeleteEmployee()">Yes</button>
</dialog>
} @if(showAddEmployeeDialog){
<dialog open>
    <form [formGroup]="employeeForm" (ngSubmit)="onAddEmployeeSubmit()">
        <p>
            <label for="userId">User ID</label>
            <input
                type="text"
                name="userId"
                id="userId"
                formControlName="userId"
            />
        </p>
        <p>
            <label for="jobTitleName">Job Title</label>
            <input
                type="text"
                name="jobTitleName"
                id="jobTitleName"
                formControlName="jobTitleName"
            />
        </p>
        <p>
            <label for="firstName">First Name</label>
            <input
                type="text"
                name="firstName"
                id="firstName"
                formControlName="firstName"
            />
        </p>
        <p>
            <label for="lastName">Last Name</label>
            <input
                type="text"
                name="lastName"
                id="lastName"
                formControlName="lastName"
            />
        </p>
        <p>
            <label for="preferredFullName">Preferred Full Name</label>
            <input
                type="text"
                name="preferredFullName"
                id="preferredFullName"
                formControlName="preferredFullName"
            />
        </p>
        <p>
            <label for="employeeCode">Employee Code</label>
            <input
                type="text"
                name="employeeCode"
                id="employeeCode"
                formControlName="employeeCode"
            />
        </p>
        <p>
            <label for="region">Region</label>
            <input
                type="text"
                name="region"
                id="region"
                formControlName="region"
            />
        </p>
        <p>
            <label for="phoneNumber">Phone</label>
            <input
                type="tel"
                name="phoneNumber"
                id="phoneNumber"
                formControlName="phoneNumber"
            />
        </p>
        <p>
            <label for="emailAddress">Email</label>
            <input
                type="email"
                name="emailAddress"
                id="emailAddress"
                formControlName="emailAddress"
            />
        </p>
        <p><button type="submit">Submit</button></p>
    </form>
</dialog>
}
<button (click)="showAddEmployeeDialog = !showAddEmployeeDialog">
    Add New Employee
</button>
<table border="1">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Employee Code</th>
            <th>Region</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>View</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @for(employee of employees; track $index){
        <tr>
            <td>{{ employee.preferredFullName }}</td>
            <td>{{ employee.employeeCode }}</td>
            <td>{{ employee.region }}</td>
            <td>{{ employee.phoneNumber }}</td>
            <td>{{ employee.emailAddress }}</td>
            <td>
                <button (click)="onEmployeeDetailsView(employee)">View</button>
            </td>
            <td>
                <button (click)="onDeleteInit(employee)">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
