<!-- Declare an array of users, display users in card & table format. 
 add a button/switch to toggle between table view and card view.
https://jsonplaceholder.typicode.com/users -->
<hr />
<h1>Assignment 2</h1>
<button class="btn btn-primary" (click)="isCardView = !isCardView">
    {{ isCardView ? "List View" : "Card View" }}
</button>
<br /><br />

@if(isCardView){
<div class="row">
    @for(user of users; track user.id){
    <div class="col-sm-3">
        <app-card
            [userData]="{
                name: user.name,
                email: user.email,
                address: user.address.street,
                phone: user.phone,
                website: user.website,
                company: user.company.name
            }"
        ></app-card>
    </div>
    }
</div>
}@else{
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Website</th>
            <th>Company</th>
        </tr>
    </thead>
    <tbody>
        @for(user of users; track user.id){
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.address.street }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.website }}</td>
            <td>{{ user.company.name }}</td>
        </tr>
        }
    </tbody>
</table>
}
