<form [formGroup]="newEmployeeForm" (ngSubmit)="onSubmit()" class="form">
    <p>
        <label class="form-label" for="firstName">First Name</label>
        <input
            class="form-control border border-primary"
            type="text"
            name="firstName"
            id="firstName"
            [value]="selectedEmployeeForEdit()?.FIRST_NAME"
            formControlName="firstName"
        />
    </p>
    <p>
        <label class="form-label" for="lastName">Last Name</label>
        <input
            class="form-control border border-primary"
            type="text"
            name="lastName"
            id="lastName"
            [value]="selectedEmployeeForEdit()?.LAST_NAME"
            formControlName="lastName"
        />
    </p>
    <p>
        <label class="form-label" for="email">Email</label>
        <input
            class="form-control border border-primary"
            type="email"
            name="email"
            id="email"
            [value]="selectedEmployeeForEdit()?.EMAIL"
            formControlName="email"
        />
    </p>
    <p>
        <label class="form-label" for="phoneNumber">Phone Number</label>
        <input
            class="form-control border border-primary"
            type="tel"
            name="phoneNumber"
            id="phoneNumber"
            [value]="selectedEmployeeForEdit()?.PHONE_NUMBER"
            formControlName="phoneNumber"
        />
    </p>
    <p>
        <label class="form-label" for="hireDate">Hire Date</label>
        <input
            class="form-control border border-primary"
            type="date"
            name="hireDate"
            id="hireDate"
            [value]="selectedEmployeeForEdit()?.HIRE_DATE"
            formControlName="hireDate"
        />
    </p>
    <p>
        <label class="form-label" for="salary">Salary</label>
        <input
            class="form-control border border-primary"
            type="number"
            name="salary"
            id="salary"
            [value]="selectedEmployeeForEdit()?.SALARY"
            formControlName="salary"
        />
    </p>
    <p>
        <label class="form-label" for="departmentId">Department ID</label>
        <input
            class="form-control border border-primary"
            type="number"
            name="departmentId"
            id="departmentId"
            [value]="selectedEmployeeForEdit()?.DEPARTMENT_ID"
            formControlName="departmentId"
        />
    </p>
    <p>
        <label class="form-label" for="image">Image URL</label>
        <input
            class="form-control border border-primary"
            type="text"
            name="image"
            id="image"
            [value]="selectedEmployeeForEdit()?.Image"
            formControlName="image"
        />
    </p>
    <p>
        <button class="btn btn-primary">
            {{ isFormInEditMode() ? "EDIT" : "SUBMIT" }}
        </button>
    </p>
</form>
