<h4>Employee Form Builder Form</h4>

<form [formGroup]="employeeForm" (submit)="onSubmit()">
    <div formArrayName="employees">
        @for(employee of employees().controls; track employee; let empIndex =
        $index){
        <div>
            <div formGroupName="empIndex">
                {{ empIndex }}
                FirstName
                <input
                    type="text"
                    name="firstName"
                    formControlName="firstName"
                />

                LastName:
                <input type="text" name="LastName" formControlName="lastName" />
                <button (click)="removeEmployee(empIndex)">
                    Remove Employee 🗑️
                </button>

                <div formArrayName="skills">
                    @for (skill of employeeSkills(empIndex).controls; track
                    skill; let skillIndex = $index) {
                    <div>
                        <div formGroupName="skillIndex">
                            {{ skillIndex }}
                            Skill
                            <input
                                type="text"
                                name="skill"
                                formControlName="skill"
                            />
                            Experience:
                            <input
                                type="number"
                                name="exp"
                                formControlName="exp"
                            />
                            <button
                                (click)="
                                    removeEmployeeSkill(empIndex, skillIndex)
                                "
                            >
                                Remove Skill 🗑️
                            </button>
                        </div>
                    </div>
                    }
                </div>
                <button type="button" (click)="addEmployeeSkill(empIndex)">
                    Add Skill
                </button>
            </div>
        </div>
        }
        <button type="button" (click)="addEmployee()">Add Employee</button>
    </div>
</form>

{{ this.employeeForm.value | json }}
