<h1 class="text-center m-4">Assignment90</h1>

<div class="modal" id="employeeDeleteModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Employee Delete Operation</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <p>Do you want to delete selected employee?</p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    No
                </button>
                <button
                    type="button"
                    (click)="deleteEmployee()"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                >
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row m-4">
    <div class="col-9">
        <h4 class="text-center mb-4">Employee List</h4>
        <div class="row">
            <!-- Employees fetched and showing response -->
            @for(employee of officeEmployees; track $index){
            <div class="col-md-3">
                <div class="card text-white bg-dark mb-3">
                    <img
                        [src]="employee.Image"
                        alt="Employee Image"
                        class="card-img-top"
                    />
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ employee.FIRST_NAME }} {{ employee.LAST_NAME }}
                        </h5>
                        <p class="card-text">
                            <strong>Email:</strong> {{ employee.EMAIL }} <br />
                            <strong>Phone:</strong> {{ employee.PHONE_NUMBER }}
                            <br />
                            <strong>Hired on:</strong>
                            {{ employee.HIRE_DATE | date : "shortDate" }} <br />
                            <strong>Salary:</strong> ${{
                                employee.SALARY | number : "1.0-0"
                            }}
                            <br />
                            <strong>Department ID:</strong>
                            {{ employee.DEPARTMENT_ID }}
                            <br />
                            <em>Employee ID</em>
                            {{ employee.id }}
                            <br />
                            <button
                                class="btn btn-primary m-2 p-2"
                                (click)="onEditEmployee(employee)"
                            >
                                Edit Employee</button
                            ><br />
                            <button
                                class="btn btn-secondary"
                                [routerLink]="['/employeeDetails', employee.id]"
                            >
                                View Employee Details
                            </button>
                            <button
                                class="btn btn-danger m-2 p-2"
                                (click)="initEmployeeDelete(employee)"
                                data-bs-toggle="modal"
                                data-bs-target="#employeeDeleteModal"
                            >
                                Delete Employee
                            </button>
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
    <div class="col-3">
        <h4>Add / Edit Employee Form</h4>
        <app-new-employee-form
            (addNewEmployee)="addNewEmployee($event)"
            [selectedEmployeeForEdit]="selectedEmployeeForEdit"
            [isFormInEditMode]="isFormInEditMode"
        ></app-new-employee-form>
        @if(isAddNewEmployeeFailed === true){
        <dialog open class="bg-info">
            <strong style="color: white">
                ⚠️New / Edit Employee Submission Failed! Please retry.⚠️
            </strong>
        </dialog>
        }
    </div>
</div>
